<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>438313540061-52s5429toi337svr8ldigd0soufu00gr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.438313540061-52s5429toi337svr8ldigd0soufu00gr</string>
	<key>API_KEY</key>
	<string>AIzaSyB9K9R-gc7qC0s7ovMVISn6s3AnYy2yBkU</string>
	<key>GCM_SENDER_ID</key>
	<string>438313540061</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hometending</string>
	<key>PROJECT_ID</key>
	<string>hometending</string>
	<key>STORAGE_BUCKET</key>
	<string>hometending.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:438313540061:ios:0b3c1cfeae63a419cc7e34</string>
</dict>
</plist>